.main-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.city-display {
    font-size: 39px;
    margin: 2%;
}

.city-display p#city-name-display{
    background-color: #783592;
    color: white;
    height: 5vh;

}
.hero{
position:absolute;
top:10px;
right:4px;
}
.hero p{
    width:fit-content;
    color:white;
    background-color: #783592;
}

.main-body input {
    padding: 10px;
    border: 5px solid #783592;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.main-body input:focus {
    outline: none;
}

.main-body-heading {
    display: flex;
}

.city-name {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}


.city-name button {
    padding: 10px 25px ;
    background-color: #783592;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    margin: 3%;
    border: none;
    height: 30px;
    width: 120px;
    text-align: center;
    /* flex: 1; */
}

.result-display {
    height: 40%;
    width: 70%;
    background-color: #783592;
    margin: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 34px;
    color: white;
    border-radius: 10px;
    position: relative;

}

.result-display select {
    position: absolute;
    top: 3%;
    left: 1%;
    border-radius: 13px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.result-display select:focus {
    border: none;
}
.result-display select:active {
    border: none;
}

.result-display p#temp {
    margin-left: 10px;
    margin-right: auto;
}

.result-display p#desc {
    margin-right: 10px;
}

.future-display {
    display: flex;  
    flex-wrap: wrap;  
    width: 70%;
    align-items: center;
    justify-content: center;
}

.future-time {
    background-color: #783592;
    margin: 2%;
    color: white;
    height: 15vh;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.future-time p {
    text-align: center;
}

@media (max-width: 900px) {
    .result-display {
        font-size: 24px;
    }

    .future-time {
        width: 10vh;
        height: 10vh;
        font-size: 10px;

    }

    .city-name button {
        padding: 7px 20px ;
    }

    .city-display {
        font-size: 28px;
        margin: 2%;
    }
    .city-display p#city-name-display{
        background-color: #783592;
        color: white;
        height: 4vh;
    
    }
}