.heading {
  font-size: 24px;
  text-align: center;
  /* margin: 2%; */

}

.heading h1 {
  padding: 15px;
  /* min-height: 95px; */
  /* max-height: 95px; */
  height: 10vh;

}

.flag-icon {
  /* Set a fixed size for the flag */
  width: 24px; /* Adjust this value as needed */
  height: 16px; /* Adjust this value as needed */
  /* Optionally, adjust other properties like margin or padding */
  margin-right: 5px; /* Add spacing between the flag and other content */
}



@media (max-width: 900px) {
  .heading {
    font-size: 18px;
  }

}