* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {

  --primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: #242424;
  color-scheme: dark light;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  input {
    background-color: #f9f9f9;
    color: #242424;
  }
  input:focus {
    color: #242424;
    background-color: white;
  }
} */